.Header {
    display: flex;
    max-width: 1200px;
    width: 100%;
    height: 78px;
    justify-content: space-between;
    margin: 20px auto;
    align-items: center;
}

.Header .Logo {
    width: 169px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    color: #623BFF;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
}

.user-details {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 17px;

    color: #949494;
}

.user-details img {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    object-fit: cover;
}

.user-details button {
    font-weight: 600;
    font-size: 17px;
    color: #B637E5;
    margin-right: 22px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid #b737e500;
    transition: .25s;
}

.user-details button:hover {
    border-color: #B637E5;
    cursor: pointer;
}

@media (max-width: 430px) {
    .Logo h1 {
        display: none;
    }

    .Header .Logo {
        width: auto;
    }
}